@import url('reset.css');

html {
  font-size: 10px;
}

body {
  background: #f9f9f9;
  color: #000;
}

header {
  background: #fff;

  height: 56px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  position: sticky;
  top: 0px;
}
header button {
  background: transparent;

  display: flex;

  border: none;
}

header .left-icons {
  margin: 0 24px;

  display: flex;
  align-items: center;

  gap: 32px;
}
header .left-icons a,
header .left-icons .logo {
  height: 20px;
}

header #search-container {
  width: 404px;
  height: 40px;
  box-sizing: border-box;

  display: flex;
  align-items: stretch;
}

header #search-container button,
header #search-container input {
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
}

header #search-container button {
  width: 57px;
  background-color: #f8f8f8;
  cursor: pointer;
}

header #search-container button:hover {
  background-color: #f0f0f0;
}

header #search-container img {
  width: 24px;
  height: 24px;

  margin-top: 2px;
  margin-right: 7px;
}

header #search-container input {
  border-right: 0px;
  flex: 1;
}

header .right-icons {
  margin: 0 24px;

  display: flex;
  align-items: center;

  gap: 24px;
}

main {
  margin: 28px 16px 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 25px;
}

main section#video-content {
  font-size: 1.4rem;

  flex-basis: 68%;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

main section#video-content .video-player {
  display: flex;
  justify-content: stretch;
}

main section#video-content .video-player img {
  width: 100%;
}

main section#video-content h1 {
  font-size: 2rem;
}

main section#video-content .actions {
  min-height: 42px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

main section#video-content .actions .interact-btns {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 42px;
}

main section#video-content .actions .interact-btns button {
  background: transparent;

  height: 24px;

  font: 500 1.4rem 'roboto';

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: 0px;
  cursor: pointer;
}

main section#video-content .actions .channel-data {
  display: flex;
  flex-flow: row nowrap;
}

main section#video-content .actions .channel-data button {
  background: #cc0000;
  color: #fff;
  width: 160px;

  margin: 1px 30px;

  font: 500 1.4rem 'roboto';
  text-transform: uppercase;

  border: 0px;
  border-radius: 2px;
}

main section#video-content .actions .channel-data .info {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;

  margin: 0 12px;
}

main section#video-content .actions .channel-data .info .owner {
  font: 500 1.4rem 'roboto';
  text-transform: uppercase;
}

main section#video-content .actions .channel-data img {
  width: 42px;
  height: 42px;
}

main section#video-content .watch-metadata {
  font: 500 1.4rem 'roboto';
}

main aside {
  flex-basis: 27%;

  display: inline-flex;
  flex-flow: column nowrap;

  gap: 16px;
}
main aside a {
  text-decoration: none;
}

main aside .related-video-card {
  height: 90px;

  display: flex;
  flex-flow: row nowrap;
  gap: 16px;

  overflow: hidden;
}

main aside .related-video-card img {
  min-width: 160px;
  height: 90px;
}

main aside .related-video-card .metadata {
  color: #515151;
  min-width: 120px;
  font-size: 1.2rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

main aside .related-video-card .metadata h3 {
  color: #000;
  font-size: 1.4rem;
}

main aside .related-video-card .metadata .secondary-metadata {
  display: flex;
  flex-flow: column nowrap;
}
